@model List<capa.entMarca>

<h2>Lista de Marcas</h2>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>ID Marca</th>
            <th>Nombre </th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var marca in Model)
        {
            <tr>
                <td>@marca.idMarca</td>
                <td>@marca.nombreMarca</td>
                <td>@(marca.estado == 1 ? "Activo" : "Deshabilitado")</td>
                <td>
                    @if (marca.estado == 1)
                    {
                        <form method="post" action="@Url.Action("DeshabilitarMarca", "MantenedorMarca")">
                            <input type="hidden" name="idMarca" value="@marca.idMarca" />
                            <button type="submit" class="btn btn-warning">Deshabilitar</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" action="@Url.Action("HabilitarMarca", "MantenedorMarca")">
                            <input type="hidden" name="idMarca" value="@marca.idMarca" />
                            <button type="submit" class="btn btn-success">Habilitar</button>
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
