@model List<capaEntidad.EntTipoCliente>

<h2>Listado de Tipo de Clientes</h2>

@if (TempData["SuccessMessage"]!= null)
{
    <div class="alert alert-success">
    @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"] </div>
}
<table class="table">
    <thead>
       <tr>
            <th>ID Tipo Cliente</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
       </tr>
    </thead>
    <tbody>
        @foreach (var tipoCliente in Model)
        {
            <tr>
                <td>@tipoCliente.IdTipoCliente</td>
                <td>@tipoCliente.Nombre</td>
                <td>@(tipoCliente.Estado == 1 ? "Activo":"Deshabilitado")</td>
                <td>
                    @if(tipoCliente.Estado == 1)
                    {
                        <form method="post" action ="@Url.Action("DeshabilitaTipoCliente", "MantenedorTipoCliente")">
                            <input type="hidden" name="idTipoCliente" value="@tipoCliente.IdTipoCliente" />
                            <button type="submit" class="btn btn-warning">Deshabilitar</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
