@model IEnumerable<capaEntidad.EntTipoCliente>

@{
    ViewData["Title"] = "ListarTipoCliente";
}

<h1>Listar</h1>

<p>
    @Html.ActionLink("Inserta", "InsertarTipoCliente")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditaTipoCliente", new { idTipoCliente = item.IdTipoCliente}) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Deshabilitar", "DeshabilitaTipoCliente", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
