@using capa
@model IEnumerable<entRealizaPedido>

@{
    ViewData["Title"] = "Listado de Pedidos";
}
<!-- resto de la tabla -->


<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th># Pedido</th>
            <th>Fecha / Hora</th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Envío</th>
            <th>Método Pago</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var p in Model) {
        <tr>
            <td>@p.idPedidoOnline</td>
            <td>
                @p.fecha.ToString("dd/MM/yyyy")
                @p.hora.ToString("HH:mm")
            </td>
            <td>@p.Usuario.nombreCli @p.Usuario.apellidoCli</td>
            <td>@p.Usuario.correo</td>
            <td>
                @p.FormaEnvio.nombreForma<br />
            </td>
            <td>
                @p.MetodoPago.nombreMetodo<br />
            </td>
            <td>@p.Estado.nombreEstado</td>
            <td>
                <a asp-controller="RealizaPedido"
                   asp-action="Edit"
                   asp-route-id="@p.idPedidoOnline"
                   class="btn btn-sm btn-warning">
                    Cambiar Estado
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
